<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan
		base-package="otg.dao,otg.service,otg.test,otg.aspect">
	</context:component-scan>
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/properties/Hikari-dev.properties</value>
			</list>
		</property>
		<property name="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="connectionTimeout" value="${connectionTimeout}"></property>
		<property name="idleTimeout" value="${idleTimeout}"></property>
		<property name="maxLifetime" value="${maxLifetime}"></property>
		<property name="minimumIdle" value="${minimumIdle}"></property>
		<property name="maximumPoolSize" value="${maximumPoolSize}"></property>
	</bean>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="close">
		<constructor-arg name="configuration"
			type="HikariConfig" ref="hikariConfig"></constructor-arg>
	</bean>
	
	<bean id="dataSourceTransactionMananger"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="dataSourceTransactionMananger"/>
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"  value="classpath:/properties/mybatis/mybatis-config.xml"></property>
		<property name="mapperLocations" value="classpath:/properties/mybatis/mapper/*.xml"></property>
	</bean>
	
	<bean id="batchSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"></constructor-arg>
		<constructor-arg name="executorType" value="BATCH"></constructor-arg>
	</bean>
	<mybatis-spring:scan base-package="otg.dao"/>
	<!-- <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="otg.dao"></property>
	</bean> -->
	
</beans>
